<!DOCTYPE html>
<html>
  <head>
    <title>News Agent Title</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/AgentPageIndexStyle.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/AgentPagePreviousNewsStyle.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h1>
      <img
        class="logo"
        src="{{HermesLogo}}"
        alt="Page Logo"
        width="200"
        height="150"
      />
      <img
        class="namelogo"
        src="{{HermesName}}"
        alt="Page Name"
        width="400"
        height="100"
      />
      <button onclick="toggle()">Theme</button>
    </h1>

    <nav>
      <ul>
        <li><a href="/">Today</a></li>
        <li><a href="/previousnews">News</a></li>
        <!--li><a href="/sources">Sources</a></li>-->
        <li><a href="/team">About Us</a></li>
      </ul>
    </nav>

    <main>
      <ul>
        {% for item in news_items %}
        <li>
          <a href="{{ url_for('video', id=item.id)}}">
            <h2>{{ item.date }}</h2>
            <img src="{{ item.thumbnail_url }}" alt="News Thumbnail" />
            <h2 class="Tags">{{ item.summarized_title }}</h2>
          </a>
        </li>

        {% if loop.index % 3 == 0 and not loop.last %}
      </ul>
      <ul>
        {% endif %} {% endfor %}
      </ul>
    </main>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
