<!DOCTYPE html> 
<html>

<head>
    <title>News Agent Title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/AgentPageIndexStyle.css">
        <link rel="stylesheet" type="text/css" href="../static/AgentPagePreviousNewsStyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>
            <img class = "logo" src="{{HermesLogo}}" alt="Page Logo" width="200" height="150">
            <img class = "namelogo" src="{{HermesName}}" alt="Page Name" width="400" height="100">
            <button onclick="toggle()">Theme</button>
    </h1>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/previousnews">Previous News</a></li>
            <!--li><a href="/sources">Sources</a></li>-->
            <li><a href="/team">Team</a></li>
        </ul>
    </nav>

    <main>
        <ul>
            <li><a href="">
                <img src="{{news1}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news2}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news3}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
        </ul>
        <ul>    
            <li><a href="">
                <img src="{{news4}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news5}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news6}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
        </ul>
        <ul>
            <li><a href="">
                <img src="{{news7}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news8}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news9}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
        </ul>
        <ul>
            <li><a href="">
                <img src="{{news1}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news2}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news3}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
        </ul>
        <ul>    
            <li><a href="">
                <img src="{{news4}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news5}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news6}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
        </ul>
        <ul>
            <li><a href="">
                <img src="{{news7}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news8}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
            <li><a href="">
                <img src="{{news9}}" alt="News 1 Thumbnail">
                <h2> Date </h2>
                <h2 class = "Tags">News 1 Title</h2>
                <p>Brief description of News 1.</p>
            </a></li>
        </ul>

    </main>

   <!--<iframe width="800" height="600" 
    src="https://www.youtube.com/embed/Aq5WXmQQooo?si=eW6o6hjPhkf2PxRZ" 
    title="YouTube video player" frameborder="0" allow="accelerometer;
     autoplay; 
     clipboard-write; 
     encrypted-media; 
     gyroscope; 
     picture-in-picture; 
     web-share" 
     referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>-->

 <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>