<!DOCTYPE html> 
<html>

<head>
    <title>News Agent Title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/AgentPageIndexStyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>
            <img class = "logo" src="{{HermesLogo}}" alt="Page Logo" width="200" height="150">
            <img class = "namelogo" src="{{HermesName}}" alt="Page Name" width="400" height="100">
            <button onclick="toggle()">Theme</button>
    </h1>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/previousnews">Previous News</a></li>
            <!--li><a href="/sources">Sources</a></li>-->
            <li><a href="/team">Team</a></li>
        </ul>
    </nav>

    <p>Maybe post here links to the places we get the news from??
    </p>


 <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>