<!DOCTYPE html> 
<html>

<head>
    <title>News Agent Title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/AgentPageIndexStyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="backgroundImage">
    <nav>
        <div class="nav-left">
            <img class="logo" src="{{HermesLogo}}" alt="Page Logo">
            <img class="namelogo" src="{{HermesName}}" alt="Page Name">
        </div>
        <ul class="nav-right">
            <li><a href="/">Today</a></li>
            <li><a href="/previousnews">News</a></li>
            <li><a href="/team">About Us</a></li>
            <li><a href="/agent">Agent</a></li>
            <li><button onclick="toggle()">Theme</button></li>
        </ul>
    </nav>

    <p>Maybe post here links to the places we get the news from??
    </p>


 <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>