<!DOCTYPE html> 
<html>

<head>
    <title>News Agent Title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AgentPageIndexStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AgentPageTeam.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="backgroundImage">
    <nav>
        <div class="nav-left">
            <img class="logo" src="{{HermesLogo}}" alt="Page Logo">
            <img class="namelogo" src="{{HermesName}}" alt="Page Name">
        </div>
        <ul class="nav-right">
            <li><a href="/">Today</a></li>
            <li><a href="/previousnews">News</a></li>
            <li><a href="/team">About Us</a></li>
            <li><a href="/agent">Agent</a></li>
            <li><button onclick="toggle()">Theme</button></li>
        </ul>
    </nav>

 <script src="{{ url_for('static', filename='index.js') }}"></script>

 <main>
    <section class="collage">
        <div>
            <div>
            <img src="{{daniel}}" alt="Daniel Rawana Photo">
            </div>
            <div class="inner">
                <h2>
                Daniel Rawana
                </h2>
                <p>Information Systems Master <br> AI Specialization <br>Graduate<br>Project Manager and Team Lead</p>
            </div>
        </div>
        <div>
            <div>
            <img src="{{rickny}}" alt="Rickny Sanon Photo">
            </div>
            <div class="inner">
                <h2>
                    Rickny Sanon
                </h2>
                <p> Computer Science B.S <br> Senior <br> Video Team Lead</p>
            </div>
        </div>
        <div class="teamName"> 
             <h2> THE TEAM</h2>
        </div>
        <div>
            <div>
            <img src="{{gabriel}}" alt="Gabriel Ricardo Alamo Photo">
            </div>
            <div class="inner">
                <h2>
                    Gabriel Ricardo Alamo
                </h2>
                <p> Computer Science B.S <br> Junior <br> Video Team </p>
            </div>
        </div>
        <div>
            <div>
            <img src="{{remberto}}" alt="Remberto Silva Tejada Photo">
            </div>
            <div class="inner">
                <h2>
                    Remberto Silva Tejada
                </h2>
                <p> Computer Science B.S <br> Social Media Minor <br> Junior <br> Video Team</p>
            </div>
        </div>
        <div>
            <div>
            <img src="{{alfonsina}}" alt="Alfonsina Cardenas Photo">
            </div>
            <div class="inner">
                <h2>
                    Alfonsina Cardenas
                </h2>
                <p> Computer Science B.S <br> Junior <br> News Team </p>
            </div>
        </div>
        <div>
            <div>
            <img src="{{mohamed}}" alt="Mohamed Al Saleh Photo">
            </div>
            <div class="inner">
                <h2>
                Mohamed Al Saleh 
                </h2>
                <p> Information Systems B.S <br> Graduate <br> Video Team </p>
            </div>
        </div>
        <div>
            <div>
            <img src="{{alex}}" alt="Alex Waisman Photo">
            </div>
            <div class="inner">
                <h2>
                    Alex Waisman
                </h2>
                <p> Computer Science B.S  <br> Junior <br> News Team </p>
            </div>
        </div>
        <div>
            <div>
            <img src="{{justin}}" alt="Justin Palma Photo">
            </div>
            <div class="inner">
                <h2>
                  Justin Palma
                </h2>
                <p> Computer Science B.S <br> Sophomore <br> News Team </p>
            </div>
        </div>
        <div>
            <div>
            <img src="{{jonathan}}" alt="Jonathan Serrano Photo">
            </div>
            <div class="inner">
                <h2>
                    Jonathan Serrano
                </h2>
                <p> Computer Science B.A <br> Senior <br> Frontend & Upload Team Lead </p>
            </div>
        </div>
        <div>
            <div>
            <img src="{{aryan}}" alt="Aryan Rahman Photo">
            </div>
            <div class="inner">
                <h2>
                    Aryan Rahman
                </h2>
                <p> Computer Science B.S <br> Sophomore <br> News Team </p>
            </div>
        </div>
        <div>
            <div>
            <img src="{{roberto}}" alt="Roberto Machin Photo">
            </div>
            <div class="inner">
                <h2>
                    Roberto Machin 
                </h2>
                <p> Computer Science B.S <br> Junior <br> Frontend & Upload Team </p>
            </div>
        </div>
        <div>
            <div>
            <img src="{{eduardo}}" alt="Eduardo Goncalvez Photo">
            </div>
            <div class="inner">
                <h2>
                    Eduardo Goncalvez
                </h2>
                <p> Computer Science B.S <br> Junior <br> News Team Lead</p>
            </div>
        </div>

    </section>
</main>
</body>
</html>