:root {

    /*Colors*/
    --bg-dark: oklch(0.92 0.045 255);
    --bg: oklch(0.96 0.045 255);
    --bg-light: oklch(1 0.045 255);
    --text: oklch(0.15 0.09 255);
    --text2:oklch(0.5195 0.1021 241.56);
    --text-muted: oklch(0.4 0.09 255);
    --highlight: oklch(0.8245 0.0568 236.21);
    --border: oklch(0.6 0.09 255);
    --border-muted: oklch(0.7 0.09 255);
    --primary: oklch(0.4 0.1 255);
    --secondary: oklch(0.8724 0.1203 88.87);
    --danger: oklch(0.5 0.09 30);
    --warning: oklch(0.5 0.09 100);
    --success: oklch(0.5 0.09 160);
    --info: oklch(0.5 0.09 260);
    --gradient: linear-gradient(0deg,var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg,var(--bg)30%, var(--bg-light));
    --nav-gradient:linear-gradient(0deg,var(--primary) 95%, var(--border));
    --nav-gradient-hover:linear-gradient(0deg,var(--primary), var(--border));

    /*Size Constants*/
    --tab-width: 12vw;
    --tab-height: 24vh;
}

body.light{
    --bg-dark: oklch(0.1 0.045 255);
    --bg: oklch(0.15 0.045 255);
    --bg-light: oklch(0.2 0.045 255);
    --text: oklch(0.96 0.09 255);
    --text2:oklch(0.5195 0.1021 241.56);
    --text-muted: oklch(0.76 0.09 255);
    --highlight: oklch(0.5 0.09 255);
    --border: oklch(0.4 0.09 255);
    --border-muted: oklch(0.3 0.09 255);
    --primary: oklch(0.76 0.1 255);
    --secondary: oklch(0.8724 0.1203 88.87);
    --danger: oklch(0.7 0.09 30);
    --warning: oklch(0.7 0.09 100);
    --success: oklch(0.7 0.09 160);
    --info: oklch(0.7 0.09 260);
    --gradient: linear-gradient(0deg,var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg,var(--bg), var(--bg-light));
    --nav-gradient:linear-gradient(0deg,var(--primary) 95%, var(--border));
    --nav-gradient-hover:linear-gradient(0deg,var(--primary), var(--border));
    --shadow: 0px 2px 2px hsla(0,0%,0%,0.07), 0px 4px 4px hsla(0,0%,0%,0.15);
}

body main ul {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    list-style: none; 
}

body main ul li {
    margin-top: 4vh;
    margin-bottom: 4vh;
    height: calc(var(--tab-height)*0.95);
    align-items: center;
    justify-content: center;
}

body main ul li a  {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    text-align: left;
    background: var(--gradient);
    background-color: var(--gradient);
    border: solid 1px var(--bg-dark);
    border-top: 1px var var(--highlight);
    box-shadow: var(--shadow);
    height: var(--tab-height);
    width: var(--tab-width);
    padding-left: calc(var(--tab-width)*0.15);
    padding-right: calc(var(--tab-width)*0.15);
    padding-top: calc(var(--tab-width)*0.1);
    margin-left: 2vh;
    margin-right: 2vh;
    border-radius: .8vw .8vw .8vw .8vw;;
}



body main ul li a:hover {
    display: inline-flex;
    background: var(--gradient-hover);
    background-color: var(--highlight); 
    h2 {
        color: var(--secondary);
    }
    p {
        color: var(--text-muted);
    }
    box-shadow: var(--shadow);
    animation-name: newsSelect;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

body main ul li a img {
    display: block;
    width: 100%;
    height: calc(var(--tab-height) * 0.6);
    object-fit: cover; 
    border-radius: .8vw .8vh;
}

body main ul li a h2 {
    padding-left: calc(var(--tab-width)*0.05);
    padding-right: calc(var(--tab-width)*0.05);
    color: var(--text-muted);
    width: calc(var(--tab-width)*0.9);
    font-size: medium;
    font-family: Helvetica, Arial, sans-serif;
    align-self:center;
    text-align: center;
    padding-top: calc(var(--tab-width)*0.05);
    padding-bottom: calc(var(--tab-width)*0.05);
}

body main ul li a h2.Tags {
    font-size: small;
    font-family: Helvetica, Arial, sans-serif;
    text-align:left;
    align-self: flex-start;
    padding-top: 0;
    padding-bottom: 0;
}

body main ul li a p {
    font-size:smaller;
    width: calc(var(--tab-width)*0.9);
    padding-left: calc(var(--tab-width)*0.05);
    padding-right: calc(var(--tab-width)*0.05);
    font-family: Helvetica, Arial, sans-serif;
    align-self: flex-start;
    text-align:left;
    color: var(--text2);
}

@keyframes newsSelect{
    0%{
        translateY: 0;
        border-radius: .7vw .7vw;
        box-shadow: var(--shadow);
    }
    50%{
        transform: translateX(0px) translateY(-.5vh);
        box-shadow: var(--shadow-long);
    }
    100%{
        transform: translateX(0px) translateY(-.5vh);
        scale: 1.03;
        border-radius: 1vw 1vw;
        box-shadow: var(--shadow-long);
    }
} 