:root {
    --bg-dark: oklch(0.92 0.045 255);
    --bg: oklch(0.96 0.045 255);
    --bg-light: oklch(1 0.045 255);
    --text: oklch(0.15 0.09 255);
    --text2:oklch(0.5195 0.1021 241.56);
    --text-muted: oklch(0.4 0.09 255);
    --highlight: oklch(0.8245 0.0568 236.21);
    --border: oklch(0.6 0.09 255);
    --border-muted: oklch(0.7 0.09 255);
    --primary: oklch(0.4 0.1 255);
    --secondary: oklch(79.865% 0.14784 85.528);
    --danger: oklch(0.5 0.09 30);
    --warning: oklch(0.5 0.09 100);
    --success: oklch(0.5 0.09 160);
    --info: oklch(0.5 0.09 260);
    --gradient: linear-gradient(0deg,var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg,var(--bg)30%, var(--bg-light));
    --nav-gradient:linear-gradient(0deg,var(--primary) 95%, var(--border));
    --nav-gradient-hover:linear-gradient(0deg,var(--primary), var(--border));
}

body.light{
    --bg-dark: oklch(0.1 0.045 255);
    --bg: oklch(0.15 0.045 255);
    --bg-light: oklch(0.2 0.045 255);
    --text: oklch(0.96 0.09 255);
    --text2:oklch(0.5195 0.1021 241.56);
    --text-muted: oklch(0.76 0.09 255);
    --highlight: oklch(0.5 0.09 255);
    --border: oklch(0.4 0.09 255);
    --border-muted: oklch(0.3 0.09 255);
    --primary: oklch(0.76 0.1 255);
    --secondary: oklch(0.8724 0.1203 88.87);
    --danger: oklch(0.7 0.09 30);
    --warning: oklch(0.7 0.09 100);
    --success: oklch(0.7 0.09 160);
    --info: oklch(0.7 0.09 260);
    --gradient: linear-gradient(0deg,var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg,var(--bg), var(--bg-light));
    --nav-gradient:linear-gradient(0deg,var(--primary) 95%, var(--border));
    --nav-gradient-hover:linear-gradient(0deg,var(--primary), var(--border));
    --shadow: 0px 2px 2px hsla(0,0%,0%,0.07), 0px 4px 4px hsla(0,0%,0%,0.15);
}


body main ul li  {
    margin-top: 8vh;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

body main ul li a{
     display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: left;
    text-align: left;
    background: var(--gradient);
    background-color: var(--gradient);
    border: solid 1px var(--bg-dark);
    border-top: 1px var var(--highlight);
    box-shadow: var(--shadow);
    height: 10vh;
    width: 90vw;
    margin-right: 2vw;
    margin-top: 4vh;
    border-radius: .8vw .8vh;

}

body main ul li a:hover {
    display: inline-flex;
    background: var(--gradient-hover);
    background-color: var(--highlight); 
    h2 {
        color: var(--secondary);
    }
    p {
        color: var(--text-muted);
    }

}

body main ul li a img {
    align-self: left;
    margin-left: 1vw;
    margin-top: 1vh;
    width: 8vw;
    height: 8vh;
    border-radius: .8vw .8vh;
}